body, html {
    height: 100%;
}

  *{
    padding: 0;
    margin:0;
    font-family: 'Cantarell', sans-serif;
  }

  .tobeadded {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 40%;
    height:50%;
}

header{
    padding: 0em;
    color: #616161;
    font-family: 'Cantarell', sans-serif;
    background-color: #fff;
    font-weight: bold;
    clear: left;
    text-align: center;
}

/* Title bar*/

		#logo{
			margin: 0.5%;
      margin-left: 2%;
			height: 60px;
      width: 160px;
			float:left;
		}

		#menu ul li{
			list-style-type: none;
			padding-left: 3%;
			line-height: 70px;
      color: #00E676;
			float:left;
		}


		#menu ul li a{
      font-family: 'Cantarell', sans-serif;
			color:#000;
			text-decoration: none;
      font-weight:400;
      font-size:17px;


		}

    #menu ul li a:hover{
      font-weight: 600;
		}

		#search{
			margin: 1.2%;
			height: 30px;
			float:right;
		}

		#title_bar{
			position: fixed;
			height: 70px;
			width: 100%; opacity: 0.9;
      color: #1A237E;
			background-color:#E0E0E0;
		}

		.img_logo{
			height: 100%;
      width: 100%;
		}

		.img_menu001{
			padding-top: 10px;
			height:23px;
			margin-right:10px;
		}

		.img_search{

			height: 30px;
		}

    /*Paralex */

    .parallax1 {
        /* The image used */
        background-image: url('para_back.jpg');
        /* Full height */
        height: 80%;
        opacity: 1.2;
        font-family: 'Cantarell', sans-serif;

        /* Create the parallax scrolling effect */
        background-attachment:fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
    }

    .tablespace{
        text-align: center;
        margin: 0%;
        width: 50%;
        height: 50%;
    }

    .numb{
      vertical-align: bottom;
      font-size: 55px;
      font-weight:500;
      color: #fff;
    }
    .label{
      color:#fff;
      vertical-align: top;
      font-size: 25px;
    }

    .twitter{
      padding: 0%;
      text-align: center;
      height:50%;
      width: 100%;
      opacity: 0.9;
      background-color:#2196F3;
      font-size:36px;
    }

    .twitter_heading{
      vertical-align: bottom;
      font-size: 40px;
      font-weight:500;
      color: #fff;
    }
    .twitter_hash{
      color:#fff;
      vertical-align: top;
      font-weight:500;
      font-size: 50px;
    }
/* Footer */

    .p{
        font-size: 13px;
        color: white;
        padding: 2px;
        padding-bottom:5%;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    footer{
    	height: 25%;
    	width: 100%;
    	background-color: #424242;
      text-align:center;
    }

    hr{
      padding-bottom:2%;
      border: 0.5px;
      border-style: none;
    }

    .img_height{
    	height:40px;

    }
